.content {
  min-width: 100%;
  min-height: 100vh;
  background-color: #e8e8e8;
  position: relative;
}

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 900;
  background-color: rgb(53, 53, 53, 0.8);
  display: none;
}

.show {
  display: block;
}

.container {
  width: 80%;
  height: auto;
  margin: 0 auto;
}
nav {
  background-color: #001d93;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo-container img {
  width: 50px;
  margin-right: 10px;
}

.logo-container h1 {
  color: #fff;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

footer {
  background-color: #353535;
  width: 100%;
  height: 70px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

@media only screen and (max-width: 425px) {
  .container {
    width: 90%;
  }
}

.grass {
  background-color: #9bcc50;
}
.poison {
  background-color: #b97fc9;
}
.fire {
  background-color: #fd7d24;
}
.water {
  background-color: #4592c4;
}
.bug {
  background-color: #739f40;
}
.normal {
  background-color: #a4acaf;
}
.electric {
  background-color: #eed535;
}
.fairy {
  background-color: #fdb9e9;
}
.ground {
  background-color: #d66016;
}
.fighting {
  background-color: #ea1919;
}
.psychic {
  background-color: #f366ba;
}
.rock {
  background-color: #a38c21;
}
.steel {
  background-color: #9eb7b8;
}
.ice {
  background-color: #51c4e7;
}
.ghost {
  background-color: #7b62a3;
}
.dragon {
  background-color: #7038f8;
}
.flying {
  background-color: #a890f0;
}
.dark {
  background-color: #707070;
}
